# Copy this file to android/key.properties and fill in your actual values
# DO NOT commit key.properties to version control!

storePassword=supportta@kottayam
keyPassword=supportta@kottayam
keyAlias=upload
storeFile=/path/to/your/upload-keystore.jks

